<body>


  <p id="notice"></p>

    <div class="container px-5 px-sm-0">

    <% if @book.errors.any? %>
      <div id="error_explanation">

        <h2><%= @book.errors.count %> errors prohibited this book from being saved: </h2>

        <ul>
          <% @book.errors.full_messages_for(:title).each do |message| %>
            <li><%= message %></li>
          <% end %>

          <% @book.errors.full_messages_for(:body).each do |message| %>
            <li><%= message%></li>
          <% end %>
        </ul>

      </div>
    <% end %>
    <div class="row">


      <%= render "users/form", user: @user,  book: @book %>


      <div class="col-md-8 offset-md-1">

        <%= render "users/list", books: @books %>

      </div>
    </div>


  <%= render 'homes/footer' %>
</body>